/* font size classes */

.fs10 {
  font-size: 10px;
}

.fs11 {
  font-size: 11px;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px;
}

.fs15 {
  font-size: 15px;
}

.fs16 {
  font-size: 16px;
}

.fs17 {
  font-size: 17px;
}

.fs18 {
  font-size: 18px;
}

.fs19 {
  font-size: 19px;
}

.fs20 {
  font-size: 20px;
}

.fs21 {
  font-size: 21px;
}

.fs22 {
  font-size: 22px;
}

.fs23 {
  font-size: 23px;
}

.fs24 {
  font-size: 24px;
}

.fs25 {
  font-size: 25px;
}

/* color classes */

.clrRed {
  color: var(--growwRed);
}

.clrGreen {
  color: var(--primaryClr);
}

.clrText {
  color: var(--text);
}

.clrSubText {
  color: var(--subText);
}

.clrYellow {
  color: var(--growwYellow);
}

/* font weight */

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

/* font-smoothing */

.fsAuto {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
