.hide {
  display: none;
}

.absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.valign-wrapper {
  display: flex;
  align-items: center;
}

.vspace-between {
  justify-content: space-between;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.onMount-appear {
  opacity: 0.01;
}

.onMount-appear.onMount-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: block;
}

.circle {
  border-radius: 50%;
}

.fullWidth {
  width: 100%;
}

.page-padding {
  padding: 0px 15px;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}
