.txtinput88label {
  font-size: 13px;
  letter-spacing: 0.25px;
  color: var(--subText);
  text-align: left;
}

.txtinput88parent {
  display: flex;
  border-bottom: solid 1px var(--border);
  align-items: center;
  padding: 10px 0 5px 0;
  caret-color: var(--primaryClr);
}

.removeunderline {
  border-bottom: none;
}

.txtinput88parent:focus-within {
  border-bottom: solid 2px var(--primaryClr);
}

.removeunderline:focus-within {
  border-bottom: none;
}

.txtinput88input {
  border-bottom: none;
  border: none;
  font-size: 16px;
  flex-grow: 1;
  outline: 0;
  color: var(--text);
  background: var(--primaryBg);

  /* -webkit-box-shadow: 0 0 0px 1000px white inset; */
}

.txtinput88input:focus {
  border-bottom: none;
  border: none;
  outline: 0;
}

.txtinput88input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--iconMedium);
  opacity: 1;

  /* Firefox */
}

.txtinput88input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--iconMedium);
}

.txtinput88input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--iconMedium);
}

.txtinput88input:-webkit-autofill,
.txtinput88input:-webkit-autofill:hover,
.txtinput88input:-webkit-autofill:focus,
.txtinput88input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--primaryBg) inset !important;
  background-color: var(--primaryBg) !important;
  -webkit-text-fill-color: var(--text);
}

.errorText {
  color: var(--growwRed);
  font-size: 14px;
  margin-top: 3px;
  text-align: left;
}

.pad0 {
  padding: 0;
}

.infoText {
  color: var(--growwYellow);
  font-size: 14px;
  margin-top: 3px;
  text-align: left;
}

.removeParentDivUnderline {
  border-bottom: none !important;
}

.txt88Width {
  width: 100%;
}

.txt88InputMUI {
  border-bottom: 1px solid var(--subText) !important;
}

.txt88MlabelError {
  color: var(--growwRed) !important;
}

.txt88Bar {
  position: relative;
  display: block;
  width: 100%;
}

.txt88Bar::before,
.txt88Bar::after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: var(--primaryClr);
  transition: 0.2s ease all;
}

.txt88BarError::before,
.txt88BarError::after {
  background: var(--growwRed);
}

.txt88Bar::before {
  left: 50%;
}

.txt88Bar::after {
  right: 50%;
}

.txt88Mgroup {
  position: relative;
}

@media (max-width: 800px) {

  .txtinput88input {
    margin-top: 2px;
    padding: 1px;
  }

  .errorText {
    font-size: 12px;
    padding: 5px 0;
    margin-top: 0;
  }

  .pad0 {
    padding: 5px 0;
  }

  .infoText {
    padding: 5px 0;
    margin-top: 0;
  }
}
