.sw348reactSwitchDivision {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--zindex900);
  margin: 0 auto;
  cursor: pointer;
}

.sw348reactSwitchCheckbox {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

.sw348reactSwitchLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
}

.sw348reactSwitchLabel .sw348reactSwitchButton {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  /*same as width, height*/
  transition: all 0.3s;
  box-shadow: 0 0 2px 0 var(--boxShadow);
}
