.txta37Label {
  color: var(--subText50);
  margin-bottom: 16px;
}

.txta37Area {
  resize: none;
  border-radius: 8px;
  caret-color: var(--priamryClr);
  padding: 16px;
  color: var(--text);
  font-size: 16px;
}

.txta37Area:focus {
  outline: none;
}

.txta37Area::placeholder {
  color: var(--subText50);
}

.txta37Normal {
  border: 2px solid var(--border);
}

.txta37Error {
  border: 2px solid var(--growwRed);
}

.txta37ErrorMessage {
  color: var(--growwRed);
  margin-top: 16px;
}
